{% extends 'homeAdminBase.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}


<div class="bg-white p-6 shadow-md rounded-lg">
        <h2 class="text-xl font-bold text-gray-800">Bienvenue sur la page d'accueil</h2>
        

        
      
</div>

 



        


{% endblock %}
